html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --c1: #0f080f;
  --c2: #282538;
  --c3: #4a3c4b;
  --c4: #75616a;
  --c5: #cec3c1;
  --c6: #e6dedb;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.homepage {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.App {
  flex-grow: 1;
  background: linear-gradient(
    to bottom,
    var(--c6),
    var(--c5),
    var(--c4),
    var(--c3),
    var(--c2),
    var(--c1)
  );
  background-size: cover;
}

/* Scrollbar styling */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--c4) var(--c1);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--c4); /* Thumb color */
  border-radius: 50px; /* Round thumb */
  border: 3px solid var(--c1); /* Border around thumb for visibility */
}

::-webkit-scrollbar-track {
  background: transparent; /* No background on the track */
}
